/* Reset some basic elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  background-color: rgb(255, 255, 255);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  padding: 20px;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #010d1e;
  color: #ffffff;
  padding: 10px;
  text-align: right;
  width: 100%;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}

nav a:hover {
  background: #124550;
}

.square-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.square {
  width: 200px;
  height: 200px;
  background-color: #124550;
  margin: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(67, 67, 67, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.square:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Mobile and Tablet Styles */
@media (max-width: 767px) {
  .menu-btn {
    display: block;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1001;
  }

  .side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1002; /* Set a higher z-index than the container */
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .side-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #00fe7b;
    display: block;
    transition: 0.3s;
  }

  .side-menu a:hover {
    color: #fefffe;
  }

  .side-menu .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;
  }

  /* Adjustments for mobile view */
  nav {
    display: none; /* Hide top navigation on mobile */
  }

  .square {
    width: 150px;
    height: 150px;
    margin: 5px;
  }

  h1 {
    font-size: large;
  }
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 1023px) {
  .menu-btn {
    display: block;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1001;
  }

  .side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1002; /* Set a higher z-index than the container */
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .side-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #00fe7b;
    display: block;
    transition: 0.3s;
  }

  .side-menu a:hover {
    color: #fefffe;
  }

  .side-menu .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;
  }

  /* Adjustments for tablet view */
  nav {
    display: none; /* Hide top navigation on tablet */
  }

  .square {
    width: 175px;
    height: 175px;
    margin: 7px;
  }

  h1 {
    font-size: x-large;
  }
}

/* Desktop Styles */
@media (min-width: 1024px) {
  body {
    padding: 20px;
  }

  nav a {
    padding: 10px 20px;
    margin: 0 15px;
  }

  .square {
    width: 200px;
    height: 200px;
    margin: 10px;
  }

  .menu-btn {
    display: none; /* Hide menu button on desktop */
  }

  .side-menu {
    display: none; /* Hide side menu on desktop */
  }
}
