/* Reset some basic elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
    
    
  }
  
  nav {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #1e545c;
    color: #ffffff;
    padding: 10px;
    text-align: right;
    width: 100%;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-weight: bold;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
  }
  
  nav a:hover {
    background: #124550;
  }
  
  .page-header {
    text-align: center;
    padding: 20px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    margin-top: 50px; /* Adjust this value based on nav height */
  }
  
  .page-header h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .page-header h2 {
    font-size: 1.2em;
    color: #666;
  }
  
  .main_content, .tech_content, .Team {
    padding: 20px;
    background: #fff;
    margin: 20px auto;
    max-width: 1200px;
  }
  
  h1, h2, h3 {
    margin-bottom: 20px;
  }
  
  iframe {
    width: 100%;
    height: 250px; /* 50% of the previous height */
    margin-bottom: 20px;
    background: white; /* Ensure iframe background is transparent */
  }
  
  figure {
    text-align: center;
    margin-bottom: 20px;
  }
  
  figure img {
    width: 50%; /* 50% of the current width */
    height: auto;
  }
  
  figcaption {
    font-style: italic;
    color: #666;
  }
  
  img {
    display: block;
    width: 50%; /* 50% of the current width */
    height: auto;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  ol {
    padding-left: 20px;
    margin-bottom: 20px;
  }
  
  #our-team {
    text-align: center;
  }
  
  @media (min-width: 600px) {
    nav a {
      padding: 10px 30px;
    }
  
    .page-header h1 {
      font-size: 2.5em;
    }
  
    .page-header h2 {
      font-size: 1.5em;
    }
  
    iframe {
      height: 200px; /* 50% of the previous height */
    }
  }
  
  @media (min-width: 768px) {
    nav {
      display: flex;
      justify-content: flex-end; /* Ensure links align to the right */
    }
  
    nav a {
      padding: 10px 40px;
    }
  
    .main_content, .tech_content, .Team {
      padding: 40px;
    }
  
    h1 {
      font-size: 2.5em;
    }
  
    h2 {
      font-size: 2em;
    }
  
    h3 {
      font-size: 1.5em;
    }
  
    iframe {
      height: 225px; /* 50% of the previous height */
    }
  
    figure {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    figure img {
      width: 50%; /* 50% of the current width */
    }
  }
  
  @media (min-width: 1024px) {
    nav {
      justify-content: flex-end; /* Ensure links align to the right */
    }
  
    .main_content, .tech_content, .Team {
      padding: 60px;
    }
  
    iframe {
      height: 250px; /* 50% of the previous height */
    }
  
    figure img {
      width: 50%; /* 50% of the current width */
    }
  }
  